<a href="https://colab.research.google.com/github/dzeaulfath/Python/blob/main/Naive_bayes_in_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from sklearn.naive_bayes import GaussianNB
import numpy as np
from sklearn.model_selection import train_test_split
import pandas as pd
from sklearn import metrics

In [ ]:
data = {'outlook'  : ['sunny', 'sunny', 'overcast','rainy','rainy','rainy','overcast','sunny','sunny','rainy','sunny','overcast','overcast','rainy'],
        'temp'     : ['hot','hot','hot','mild','cool','cool','cool','mild','cool','mild','mild','mild','hot','mild'],
        'humidity' : ['high','high','high','high','normal','normal','normal','high','normal','normal','normal','high','normal','high'],
        'windy'    : ['false','true','false','false','false','true','true','false','false','false','true','true','false','true'],
        'play'     : ['no','no','yes','yes','yes','no','yes','no','yes','yes','yes','yes','yes','no']}
df   = pd.DataFrame(data)
df

     outlook  temp humidity  windy play
0      sunny   hot     high  false   no
1      sunny   hot     high   true   no
2   overcast   hot     high  false  yes
3      rainy  mild     high  false  yes
4      rainy  cool   normal  false  yes
5      rainy  cool   normal   true   no
6   overcast  cool   normal   true  yes
7      sunny  mild     high  false   no
8      sunny  cool   normal  false  yes
9      rainy  mild   normal  false  yes
10     sunny  mild   normal   true  yes
11  overcast  mild     high   true  yes
12  overcast   hot   normal  false  yes
13     rainy  mild     high   true   no

In [ ]:
df.dtypes

outlook     object
temp        object
humidity    object
windy       object
play        object
dtype: object

In [ ]:
#convert data type object ke category
df_c = df.astype('category')

#convert categori ke numerik
df_c["outlook"]   = df_c["outlook"].cat.codes
df_c["temp"]      = df_c["temp"].cat.codes
df_c["humidity"]  = df_c["humidity"].cat.codes
df_c["windy"]     = df_c["windy"].cat.codes
df_c["play"]      = df_c["play"].cat.codes
df_c.head()

   outlook  temp  humidity  windy  play
0        2     1         0      0     0
1        2     1         0      1     0
2        0     1         0      0     1
3        1     2         0      0     1
4        1     0         1      0     1

In [ ]:
#memisahkan data feature ke label
X = df_c.iloc[:,:4].values
X

array([[2, 1, 0, 0],
       [2, 1, 0, 1],
       [0, 1, 0, 0],
       [1, 2, 0, 0],
       [1, 0, 1, 0],
       [1, 0, 1, 1],
       [0, 0, 1, 1],
       [2, 2, 0, 0],
       [2, 0, 1, 0],
       [1, 2, 1, 0],
       [2, 2, 1, 1],
       [0, 2, 0, 1],
       [0, 1, 1, 0],
       [1, 2, 0, 1]], dtype=int8)

In [ ]:
Y = df_c.iloc[:, 4].values
Y

array([0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0], dtype=int8)

In [ ]:
from sklearn.model_selection import train_test_split

#memisahkan data train dengan data test
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2,random_state = 45)
print(X_train.shape, y_train.shape)

(11, 4) (11,)

In [ ]:
#membuat pengklasifikasi Gaussian
model = GaussianNB()

#melatih model dengan data training
model.fit(X_train,y_train)

#prediksi respon untuk data uji
y_pred = model.predict(X_test)

In [ ]:
# Akurasi model
print("Accuracy:",metrics.accuracy_score(y_test,y_pred))

Accuracy: 1.0

In [ ]:
#Hasil prediksi 
predicted = model.predict([[0,2,1,1]]) # 0:Overcast, 2:Mild, 1:Normal, 1.True
print("Predicted Value:", predicted)

Predicted Value: [1]

Dari hasil output prediksi diatas didapatkan predicted value 1 [YES]  yang artinya pemain dapat bermain dengan akurasi 1.0 (100%)